h1{
	text-align: center;
	
}

section{
	box-sizing: border-box;
	width: 31.33%;
	margin-bottom: 2%;
	margin-left: 1%;
	margin-right: 1%;
	background-color: #94938a;
	float: left;
	border: solid 2px black;

}

h2{
	float: right;
	border: solid 2px black;
	text-align: center;
	padding: 2px 10px;
	font-weight: normal;
	font-family: verdana;
	font-size: 16px;
	margin: 0;
}

#item1 > h2{
	background-color: #cfa097;
	color: black;
}

#item2 > h2{
	background-color: #82301f;
	color: white;
}

#item3 > h2{
	background-color: #e3da86;
	color: black;
}

p{
	padding: 15px;
	font-family: verdana;
}

@media (max-width: 991px){
	#item1, #item2{
		width: 48%;
	}
	#item3{
		width: 98%;
	}
}

@media (max-width: 767px){
	#item1, #item2, #item3{
		width: 98%;
	}
}



